header {
    height: 81px;
    padding: 40px 0 0;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    line-height: normal;
    font-size: 28px;
    color: black;
    font-weight: 700;
}

.logo span {
    color: #FF8A56;
}

.header_inner nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.headerLink {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.headerLink:hover {
    text-decoration: underline;
}

.headerLine {
    height: 25px;
    width: 1px;
    border: 1px solid #a9a9a9;
}

.headerUsername {
    font-weight: 700;
    font-size: 20px;
    color: #FF8A56;
}

.navActive {
    font-weight: 700;
}


.main {
    height: calc(100vh - 81px);
    min-height: 670px;
    /*margin-bottom: 100px;*/
}

footer {
    padding-top: 40px;
    background-color: black;
    height: 300px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.logoFooter {
    line-height: normal;
    font-size: 32px;
    color: white;
    font-weight: 700;
}

.logoFooter span {
    color: #FF8A56;
}

.footer_contacts h5 {
    margin-bottom: 24px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.footer_contacts ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footer_contacts ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #bbb;
    font-size: 16px;
}

/*TodoApp==============================*/

.todoListBlock {
    overflow: hidden;
    margin-top: 20px;
    /*height: 500px;*/
    /*border: 2px solid grey;*/
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.topBlockForm {
    background-color: #000000;
    height: 150px;
    padding: 25px;
}

.topBlockForm h2 {
    color: white;
}

.topBlockForm h2 span {
    color: #FF8A56;
}

.topBlockInputs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topBlockInputs label {
    display: flex;
    align-items: center;
}

.topBlockInputs label input {
    width: 400px;
    height: 30px;
    margin-left: 10px;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.topBlockInputs label span{
    color: #FF8A56;
    font-size: 20px;
    font-weight: 700;
}

.todoPostBtn {
    width: 70px;
    height: 32px;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 700;
    background-color: #FF8A56;
}

.todoPostBtn:hover {
    filter: brightness(1.2);
}

.todoPostBtn:active {
    filter: brightness(0.8);
}

.bottomBlock {
    height: 450px;
    overflow-y: auto;
}

.taskBlock {
    padding: 20px 20px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #dadada;*/
    border-bottom: 1px solid #e8e8e8;
}

.taskBlock:nth-of-type(odd) {
    background-color: #fce0b9;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.taskBlock:nth-of-type(odd) .taskBlockLine {
    border: 1px solid #ffcea6;
}

.taskBlock:nth-of-type(even) .taskTitle {
    color: #5e260b;
}

.taskBlockLine {
    height: 40px;
    width: 1px;
    border: 1px solid #e5e5e5;
}

.taskTitleDescCheckbox {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.taskCheckbox[type="checkbox"] {
    margin-top: 6px;
    -webkit-appearance: none;
    appearance: none;
    /*background-color: #fff;*/
    color: #0c0c0c;
    width: 20px;
    height: 20px;
    border: 2px solid #0c0c0c;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

.taskCheckbox[type="checkbox"]::before {
    content: "";
    width: 25px;
    height: 25px;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    box-shadow: inset 20px 20px #31e100;
    transform-origin: left top;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.taskCheckbox[type="checkbox"]:checked::before {
    transform: scale(1);
}

.taskTitleDesc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 850px;
}

.taskTitle {
    font-size: 20px;
    color: #FF8A56;
    word-break: break-word;
}

.taskDesc {
    font-size: 16px;
    color: #3d3d3d;
    word-break: break-word;
}

.taskButtons {
    display: flex;
    gap: 15px;
    height: 40px;
}

.taskButtons button {
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 700;
}

.taskEdit {
    background-color: black;
    color: white;
}

.taskDelete {
    background-color: #ff5d5d;
    color: white;
}

.taskEdit:hover {
    background-color: #3b3b3b;
    color: white;
}

.taskEdit:active {
    background-color: black;
    color: #c7c7c7;
}

.taskDelete {
    background-color: #ff4747;
    color: white;
}

.taskDelete:hover {
    background-color: #fc6c6c;
    color: white;
}

.taskDelete:active {
    background-color: #d93c3c;
    color: #c7c7c7;
}

/*Modal window=========================*/

.editModalWindow {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.editModalWindowForm {
    position: relative;
    width: 600px;
    background-color: #1f1f1f;
    padding: 40px;
    border-radius: 10px;
}

.editModalWindowForm h3 {
    color: white;
    font-size: 25px;
}

.editModalWindowForm h3 span {
    color: #FF8A56;
}

.editModalWindowInputs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.editModalWindowInputs label {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.editModalWindowInputs label input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.editModalWindowInputs label span{
    color: #FF8A56;
    font-size: 16px;
    font-weight: 700;
}

.editModalConfirmBtn {
    margin: 24px auto 0;
    display: block;
    width: 350px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 700;
    background-color: #FF8A56;
}

.editModalConfirmBtn:hover {
    filter: brightness(1.2);
}

.editModalConfirmBtn:active {
    filter: brightness(0.8);
}

.editModalCloseBtn {
    background-color: transparent;
    border: none;
    font-size: 40px;
    /*font-weight: 700;*/
    color: #b7b7b7;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 15px;
}

.editModalCloseBtn:hover {
    color: #ffffff;
}

.editModalCloseBtn:active {
    color: #797979;
}

.hide {
    display: none;
}